{% extends 'idols/base.html' %}
{% load static %}

{% block head %}
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
{% endblock head %}

{% block body %}

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--1-col"></div>

  <h5 class="mdl-cell mdl-cell--10-col mdl-cell--middle">Celebrating Ganesh festival in Eco-friendly way. We have made idols in such a manner that they resolve all the overcoming problems of general Eco-friendly Idols.</h5>

	<div class="mdl-cell mdl-cell--1-col"></div>
</div>


<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--1-col"> </div>

  <div class="mdl-cell mdl-cell--10-col mdl-cell--middle">
  	<h5>ECO-FRIENDLY IDOLS</h5>
  	We have made this Idol in a such a manner that it is safe to the environment when it comes to the Immersion part. Our objective behind making these Idols are to promote the Eco-friendly cause. Process of making these Idols is lengthy so it goes very Expensive. But we have put all our efforts to bring the cost of these idols to rich or common man, because of that we have kept the prices almost similar to the Normal clay Eco-friendly Idols.
  </div>
	<div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--1-col"> </div>
  <div class="mdl-cell mdl-cell--10-col mdl-cell--middle">
  	<h5>EASY HANDLING</h5>
		Normal Eco-friendly Idols are very delicate, fragile, because of its delicateness and heaviness, these idols break easily if mishandled. On the other hand our paper mache Idols are very strong and light weighted by nature. So it resolves the problem of handling.
  </div>
	<div class="mdl-cell mdl-cell--1-col"></div>
</div>


<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--1-col"> </div>
  <div class="mdl-cell mdl-cell--10-col mdl-cell--middle">
  	<h5>LIGHTWEIGHT</h5>
		we have achieved to make our Ganesh Idols lightest compared to any other similar product in the same category. In general, Eco-friendly Ganesh Idols, made by clay are very heavy.
		Example: 2ft Idol weighs 20 kgs approximately but on the other hand our Paper Mache Idol of 2 ft weight just about 2.25 kgs. So the weight of the idol is brought down by 10 times
  </div>
	<div class="mdl-cell mdl-cell--1-col"></div>
</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--1-col"> </div>
  <div class="mdl-cell mdl-cell--10-col mdl-cell--middle">
  	<h5>STRONGEST IN ITS CATEGORY</h5>
		This is again an amazing feature, our Idol is 20 times more stronger than the normal Eco friendly Idols. (Even More Stronger than the Plaster of Paris Idol).
  </div>
	<div class="mdl-cell mdl-cell--1-col"></div>
</div>

{% endblock body %}