{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Eco friendly ganapati idols made out of Papermache.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<title>Shree Omkar arts</title>

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.pink-purple.min.css" />
    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'soa-style.css' %}">
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

	{% block head %}
	{% endblock head %}

</head>

<body>
    <div class="mdl-layout mdl-js-layout">
    
      <!-- transparent header that draws on top of the layout's background -->
      <div class="layout-transparent mdl-layout mdl-js-layout">

        <!-- top menu panel -->
        <header class="mdl-layout__header mdl-layout__header--transparent">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Shree Omkar Arts</span>
            <!-- <img src="{% static 'small-logo.png' %}"></a> -->
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link active" href="{% url 'home_slider' %}"><h5>Home</h5></a>
              <a class="mdl-navigation__link" href="{% url 'gallery' %}"><h5>Gallery</h5></a>
              <a class="mdl-navigation__link" href="{% url 'aim' %}"><h5>Aim</h5></a>
              <a class="mdl-navigation__link" href="{% url 'media' %}"><h5>Media</h5></a>
              <a class="mdl-navigation__link" href="{% url 'team' %}"><h5>Team</h5></a>
              <a class="mdl-navigation__link" href="{% url 'contact' %}"><h5>Contact</h5></a>
            </nav>
          </div>
        </header>

        <!-- side menu panel -->
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Shree Omkar Arts</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{% url 'home_slider' %}">Home</a>
            <a class="mdl-navigation__link" href="{% url 'gallery' %}">Gallery</a>
            <a class="mdl-navigation__link" href="{% url 'aim' %}">Aim</a>
            <a class="mdl-navigation__link" href="{% url 'media' %}">Media</a>
            <a class="mdl-navigation__link" href="{% url 'team' %}">Team</a>
            <a class="mdl-navigation__link" href="{% url 'contact' %}">Contact</a>
          </nav>
        </div>
        <main class="mdl-layout__content">
          <div class="page-content"><!-- Your content goes here --></div>
        </main>
      </div>
  	<!-- END of transparent header that draws on top of the layout's background -->

      {% block body %}
      {% endblock body %}

      <!-- <script type="text/javascript" src="{% static 'app.js' %}"></script> -->

      <!-- <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Title</div>
              <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
      </footer> -->
    <!-- 
      <script type="text/javascript">
          var button = document.createElement('button');
          var textNode = document.createTextNode('Click Me!');
          button.appendChild(textNode);
          button.className = 'mdl-button mdl-js-button mdl-js-ripple-effect';
          componentHandler.upgradeElement(button);
          document.getElementById('container').appendChild(button);
      </script>
   -->
  </div>
</body>

</html>