{% extends 'idols/base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col text-left">
  	<h5> ADDRESS</h5>
		Crystal point Mall, 1st floor,<br/>
		Link Road, Near D.N.Nagar Metro Station,<br/> 
		Andheri West, Mumbai 400053
  </div>

  <div class="mdl-cell mdl-cell--4-col">
		<h5>PHONE</h5>
		+91 9820828804 <br/>
		+91 9969981920
	</div>
  	
  <div class="mdl-cell mdl-cell--4-col">
		<h5>EMAIL</h5>
		papermache@shreeomkararts.com
		rohit@shreeomkararts.com
  </div>
  	
</div>


{% endblock body %}