{% extends 'idols/base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
<br/>
<br/>
<H5 class="text-center"> Booking started, we are available from 10.30 AM to 10 PM</H5>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.4724486988066!2d72.82890331490208!3d19.130785987056473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6210b051721%3A0xdf03e2e4c7ef64f!2sCrystal+Point+Mall!5e0!3m2!1sen!2sin!4v1498155360262" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

<!--
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col">
		<h5 class="">Buy online at</h5>
		<!--<a href="http://www.edevlok.com/idols-ganesh-eco-friendly" target="_blank">->
		<a href="http://www.edevlok.com" target="_blank">
			<img src="{% static 'devlok-logo.jpg' %}" class="h30w90 ">
		</a>
  <div class="mdl-cell mdl-cell--3-col"></div>
	</div>
  <div class="mdl-cell mdl-cell--3-col"></div>
</div>
-->
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--2-col">
	
  	<h5> ADDRESS</h5>
  	<h6>
		Crystal point Mall, 1st floor,<br/>
		Link Road, Near D.N.Nagar Metro Station,<br/> 
		Andheri West, Mumbai 400053
	</h6>
  
  </div>
  	

  <div class="mdl-cell mdl-cell--3-col">
		<h5>PHONE</h5>
		<h6>
		Rohit<br/>
		+91 9820828804 <br/>
		+91 9969981920
		</h6>
	</div>

  <div class="mdl-cell mdl-cell--4-col">
  		<figure>
  			
		<h5><i>Rohit Vaste</i></h5>
		<br/>

		<img src='{% static "rohit.png" %}'>
  		</figure>
	</div>
  
  <div class="mdl-cell mdl-cell--3-col">
		<h5>EMAIL</h5>
		<h6>
			rohit@paperganesh.com
		</h6>
	  	<h6>
	  		rohitvaste1@gmail.com
	  	</h6>
  </div>
  	
</div>


{% endblock body %}
