{% extends 'idols/base.html' %}
{% load static %}

{% block head %}
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
{% endblock head %}

{% block body %}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">

      <h3 class="text-center">Main Features</h3>

    	<h5>IDOLS ARE ECO-FRIENDLY</h5>
      <p>Idols are made out of clay & paper, the natural elements without any chemicals.</p>

    	<h5>TEN TIMES STRONGER THAN NORMAL ECO-FRIENDLY IDOLS</h5>
      <p>Even stronger than plaster of paris idols, almost unbreakable.</p>

    	<h5>LIGHT WEIGHTED</h5>
      <p>The two feet eco-friendly Idol normally crosses over 20 kgs of weight, whereas our two feet paper-mache Idol weighs just about 2.25 kgs</p>

      <h5>SUBMERGES INTO WATER LIKE OTHER ECO-FRIENDLY IDOLS</h5>
      <p>Takes equal-time to submerge into water as the other clay Eco-Friendly idols.</p>

    	<h5>HOME DELIVERY</h5>
      <p>National or international delivery of idols.</p>

  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>

{% endblock body %}