{% extends 'idols/base.html' %}
{% load static %}

{% block site_title %} - {{title}} {% endblock site_title %}

{% block head %}
	<style>
	.mdl-card{width: auto;}
	.mdl-grid{margin: initial;}
	img {
	opacity: 1;
	transition: opacity 0.3s;
	}

	img[data-src] {
		opacity: 0;
	}
	</style>
{% endblock head %}

{% block body %}
<!--
lazy loading of img:
https://davidwalsh.name/lazyload-image-fade
https://css-tricks.com/snippets/javascript/lazy-loading-images/
--> 
    <br/>

	<div class="mdl-grid">
	{% for mc in all_murti_category %}
	
	{% if url_name == 'murti_category' %}
		<a class="mdl-cell mdl-cell--3-col no-anchor" href="{% url url_name mc.category_code %}">
	{% elif url_name == 'murti_detail' %}
		<a class="mdl-cell mdl-cell--3-col no-anchor" href="{% url url_name mc.category.category_code mc.id %}">
	{% endif %}
			<div class="mdl-card align-center">
				<div class="mdl-card__media">
					<img class="align-center" data-src='{% firstof mc.images.idol_image.url mc.images.first.idol_image.url "/static/official-logo-med.png" %}' height="200px" width=auto border="0" alt="">
				</div>
				<div class="mdl-card__title">
					{{mc.murti_category_name}}
					{{mc.murti_name}}
				</div>
			</div>
	{% if url_name %}
		</a>
	{% endif %}

	{% endfor %}
	</div>

	<script type="text/javascript">

		document.addEventListener("DOMContentLoaded", function(event) {
		    // console.log("DOM fully loaded and parsed");
			[].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
				img.setAttribute('src', img.getAttribute('data-src'));
				img.onload = function() {
					img.removeAttribute('data-src');
				};
			});
		  });
	</script>

{% endblock body %}