{% extends 'idols/base.html' %}
{% load static %}

{% block site_title %} - {{title}} {% endblock site_title %}

{% block head %}
	<style>
	.mdl-card{width: auto;}
	</style>
{% endblock head %}

{% block body %}
<!--
lazy loading of img:
https://davidwalsh.name/lazyload-image-fade
https://css-tricks.com/snippets/javascript/lazy-loading-images/
-->
<!--
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col">
		<a href="">
			<div class="mdl-card mdl-shadow--16dp">
				<div class="mdl-card__media"><img src='{% static "slide-2.jpg" %}' height="200px" border="0"
					alt="">
				</div>
				<div class="mdl-card__title">
					The Sky Tower is an observation
				</div>
			</div>
		</a>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<a href="">
			<div class="mdl-card mdl-shadow--16dp">
				<div class="mdl-card__media"><img src='{% static "slide-2.jpg" %}' height="200px" border="0"
					alt="">
				</div>
				<div class="mdl-card__title">
					The Sky Tower is an observation
				</div>
			</div>
		</a>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<a href="">
			<div class="mdl-card mdl-shadow--16dp">
				<div class="mdl-card__media"><img src='{% static "slide-2.jpg" %}' height="200px" border="0"
					alt="">
				</div>
				<div class="mdl-card__title">
					The Sky Tower is an observation
				</div>
			</div>
		</a>
	</div>
</div>
-->

	<div class="mdl-grid">
	{% for mc in all_murti_category %}

	
	{% if url_name == 'murti_category' %}
		<a class="mdl-cell mdl-cell--3-col no-anchor" href="{% url url_name mc.category_code %}">
	{% elif url_name == 'murti_detail' %}
		<a class="mdl-cell mdl-cell--3-col no-anchor" href="{% url url_name mc.category.category_code mc.id %}">
	{% endif %}
			<div class="mdl-card mdl-shadow--16dp align-center">
				<div class="mdl-card__media">
					<!--
					{# <img class="align-center" src='{{mc.images.idol_image.url|default:"/static/official-logo-med.png"}}' height="200px" width=auto border="0" alt=""> #}
					{# <img class="align-center" src='{{mc.images.first.idol_image.url|default:"/static/official-logo-med.png"}}' height="200px" width=auto border="0" alt=""> #}
					-->
					<img class="align-center" src='{% firstof mc.images.idol_image.url mc.images.first.idol_image.url "/static/official-logo-med.png" %}' height="200px" width=auto border="0" alt="">
				</div>
				<div class="mdl-card__title">
					{{mc.murti_category_name}}
					{{mc.murti_name}}
				</div>
			</div>
	{% if url_name %}
		</a>
	{% endif %}

	{% endfor %}
	</div>

{% endblock body %}