{% extends 'idols/base.html' %}
{% load static %}

{% block head %}
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.2.1/vegas.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.2.1/vegas.min.css">
{% endblock head %}

{% block body %}

	<div id="example"></div>

	<script type="text/javascript">
		$("#example, body").vegas({
			delay: 7000,
		    timer: false,	
		    // shuffle: true,
		    transition: [ 'fade', 'zoomOut', 'fade2', 'zoomOut2' ],
		    transitionDuration: 5000,
		    overlay: 'https://cdnjs.cloudflare.com/ajax/libs/vegas/2.2.1/overlays/06.png',
		    slides: [
		        { src: "{% static 'slide-1.jpg' %}" },
		        { src: "{% static 'slide-2.jpg' %}" },
		        { src: "{% static 'slide-3.jpg' %}" },
		        { src: "{% static 'slide-4.jpg' %}" },
		        { src: "{% static 'slide-5.jpg' %}" },
		        { src: "{% static 'slide-6.jpg' %}" },
		    ]
		});
	</script>

{% endblock body %}