{% extends 'idols/base.html' %}
{% load static %}

{% block head %}
<script type="text/javascript" src="https://cdn.rawgit.com/robinparisi/tingle/master/dist/tingle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/robinparisi/tingle/master/dist/tingle.min.css">
<style type="text/css">
	.tingle-modal--overflow {
    /*overflow-y: scroll;*/
    padding-top: 1vh;
    padding-bottom: 1vh;
}
</style>
{% endblock head %}

{% block body %}


			<h4 class="text-center">{{murti.murti_name}}</h4>
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--3-col"></div>

  <div class="mdl-cell mdl-cell--4-col" onclick="openModal()">
		<img class="align-center cursor-pointer" src='{{murti.images.first.idol_image.url|default:"/static/official-logo-med.png"}}' height="450">
	</div>


	<div class="mdl-cell mdl-cell--4-col">
		<div class="mdl-grid">
			  <h5 class="mdl-cell mdl-cell--6-col--middle">ID</h5>
			  <h5 class="mdl-cell mdl-cell--6-col--middle">{{murti.murti_id}}</h5>
		</div>

		{% if murti.sp_feature %}
			<div class="mdl-grid">
				  <h6 class="mdl-cell mdl-cell--12-col"><i>"{{murti.sp_feature|title}}"</i></h6>
			</div>
		{% endif %}
						 
		<div class="mdl-grid">
			  <h6 class="mdl-cell mdl-cell--6-col--middle"><b>Height</b></h6>
			  <h6 class="mdl-cell mdl-cell--6-col--middle">{{murti.height}} Inches</h6>
		</div>
				
		<div class="mdl-grid">
			  <h6 class="mdl-cell mdl-cell--6-col--middle"><b>Weight</b></h6>
			  <h6 class="mdl-cell mdl-cell--6-col--middle">{{murti.weight}} Kg</h6>
		</div>
				
		<div class="mdl-grid">
			  <h6 class="mdl-cell mdl-cell--6-col--middle"><b>Price</b></h6>
			  <h6 class="mdl-cell mdl-cell--6-col--middle">{{murti.price}}/- </h6>
		</div>
			
		<div class="mdl-grid">
			  <h6 class="mdl-cell mdl-cell--6-col--middle"><b>Ingredients</b></h6>
			  <h6 class="mdl-cell mdl-cell--6-col">
			  {% for each in murti.material.ingredients.all %}
			  	{{each.ingredient_name|title}}{% if not forloop.last %}, {% endif %}
			  {% endfor %}
			  </h6>
		</div>

		<div class="mdl-grid">
			  <h6 class="mdl-cell mdl-cell--6-col--middle"><b>Status</b></h6>
			  <h6 class="mdl-cell mdl-cell--6-col--middle">{{murti.status}}</h6>
		</div>
		
		{% if murti.status == "Available" %}
		<div class="mdl-grid">
			  <h6 class="mdl-cell mdl-cell--12-col--middle">
				  <a href="{{murti.note}}" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored" targe="_blank">Buy Online</a>
			</h6>
		</div>
		{% endif %}
			
	</div>	

  <div class="mdl-cell mdl-cell--1-col"></div>
</div>

<script type="text/javascript">
	// instanciate new modal
	var modal = new tingle.modal({
	    footer: true,
	    // stickyFooter: false,
	    closeMethods: ['overlay', 'button', 'escape'],
	    closeLabel: "Close",
	    // cssClass: ['custom-class-1', 'custom-class-2'],
	    onOpen: function() {
	        console.log('modal open');
	    },
	    onClose: function() {
	        console.log('modal closed');
	    },
	    beforeClose: function() {
	        // here's goes some logic
	        // e.g. save content before closing the modal
	        return true; // close the modal
	    	return false; // nothing happens
	    }
	});

	// set content
	modal.setContent('<img class="align-center" style="height: 125vh;" src="{{murti.images.first.idol_image.url}}">');

	// add a button
	modal.addFooterBtn('Close', 'tingle-btn tingle-btn--primary tingle-btn--pull-right', function() {
	    // here goes some logic
	    modal.close();
	});

	// // add another button
	// modal.addFooterBtn('Dangerous action !', 'tingle-btn tingle-btn--danger', function() {
	//     // here goes some logic
	//     modal.close();
	// });

	// open modal
	function openModal() {
		modal.open();
	}

	// close modal
	// modal.close();
	   
</script>
{% endblock body %}
